

.Sidebar{
    display: flex;
    width:80px;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(32, 32, 35, 1);
    transition: width 0.3s;
    border-right: 1px solid rgba(189, 189, 192, 0.1);
}

.sidebar-chats{
    overflow-y: scroll;
    padding-top:20px;
}

.main-user-section{
    background-color: rgb(79, 80, 81);
    height: 20%;
}

#main-user-section-search{
    border-radius:  25px;
    height: 20px;
    /* width: 100%; */
}

#main-user{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}
#main-user:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.user__pic {
    width: 40px;
    border-radius:50%; 
}
.User__details {
    display: none;
}

/* not small devices  */
@media (min-width: 576px) {
    .Sidebar {
        width: 320px;
    }
}
