
.Sidebar{
    display: flex;
    width:25%;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(25, 25, 27, 1);
    transition: width 0.3s;
    border-right: 1px solid rgba(189, 189, 192, 0.1);
}

.user-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    padding: 0.7em;
}

#main-user{
    padding: 0.5rem;
}

.user-pic {
    width: 3em;
    border-radius:50%; 
}

#main-user-search{
    align-self: center;
    height: 2em;
    width: 90%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    outline-color: beige;
}

.sidebar-chats{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1px solid rgba(189, 189, 192, 0.2);
    overflow-y: scroll;
    padding-top:2em;
}


.user-pic:hover {
    cursor: pointer;
}


/* not small devices  */
/* @media (min-width: 576px) {
    .Sidebar {
        width: 320px;
    }
} */
