
.Sidebar{
    display: flex;
    width:80px;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(25, 25, 27, 1);
    transition: width 0.3s;
    border-right: 1px solid rgba(189, 189, 192, 0.1);
}

.sidebar-chats{
    overflow-y: scroll;
    padding-top:20px;
    
}

/* .main-user-section{
    
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    padding-bottom: 10px;
} */


.user-section-container{
    height: 20%;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    padding-bottom: 10px;
}

#main-user-section-search{
    height: 10px;
    width: 80%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    outline: 0;
}

#main-user{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.user-pic {
    width: 40px;
    border-radius:50%; 
}

.user-pic:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.User__details {
    display: none;
}

/* not small devices  */
@media (min-width: 576px) {
    .Sidebar {
        width: 320px;
    }
}
